body {
	font-family: source-serif-4, serif;
	font-weight: 400;
	font-style: normal;
	font-size: 1.25em;
}

ul {
	list-style-type:'⁃';
	padding:1rem;
	margin:0rem;
}

li {
	padding-left:0.5rem;
	padding-bottom:0.1rem;
}

h1.basic {
	padding:0rem;
	margin:0rem;
}

div.mugshot-and-contact {
	display:flex;
	flex-direction:column;
}

@media (min-width: 600px) {
	div.mugshot-and-contact {
		flex-direction:row;
	}
}

section.bio {
	display:flex;
	flex-direction:column;
}

section.course-overview {
	display:flex;
	flex-direction:column;
}

th {
	text-align:left;
	padding-right:1rem;
}

td {
	padding:0.1rem;
	padding-right:1rem;
}

td.label {
	font-weight:bold;
}

table {
	padding-bottom:1rem;
}

table.course-table {
	margin:1rem;
}

div.course-section {
	padding:1rem;
}

@media (min-width: 1200px) {
	section.bio {
		flex-direction:row;
	}
}

div.mugshot {
	padding:1rem;
}

div.contact {
	padding:1rem;
}

div.contact-line {
	white-space:nowrap;
	padding-bottom:0.25rem;
}

div.info-line {
	white-space:nowrap;
	padding-bottom:0.25rem;
}

div.about-me {
	padding:1rem;
}

section.code {
	padding:1rem;
}

section.papers {
	padding:1rem;
}

section.teaching {
	padding:1rem;
}

section.talks {
	padding:1rem;
}

figure.paper {
	display: flex;
	align-items: center;
	margin:0rem;
	padding-top:1rem;
	padding-bottom:1rem;
}

img.paper-thumb {
	width:6.6%;
}

figcaption.paper-info {
	padding-left:1rem;
}

section.experience {
	padding:1rem;
}
