body {
	font-family: source-serif-4, serif;
	font-weight: 400;
	font-style: normal;
}

ul {
	list-style-type:'\27ab';
	padding:1rem;
	margin:0rem;
}

li {
	padding-left:0.5rem;
	padding-bottom:0.1rem;
}

h1.basic {
	padding:0rem;
	margin:0rem;
}

div.mugshot-and-contact {
	display:flex;
	flex-direction:column;
}

@media (min-width: 600px) {
	div.mugshot-and-contact {
		flex-direction:row;
	}
}

section.bio {
	display:flex;
	flex-direction:column;
}

@media (min-width: 1200px) {
	section.bio {
		flex-direction:row;
	}
}

div.mugshot {
	padding:1rem;
}

div.contact {
	padding:1rem;
}

div.contact-line {
	white-space:nowrap;
	padding-bottom:0.25rem;
}

div.about-me {
	padding:1rem;
}

section.software {
	padding:1rem;
}

section.pubs {
	padding:1rem;
}

figure.pub {
	display: flex;
	align-items: center;
	margin:0rem;
	padding-top:1rem;
	padding-bottom:1rem;
}

img.pub-thumb {
	width:13.5%;
}

figcaption.pub-info {
	padding-left:1rem;
}

section.experience {
	padding:1rem;
}
